body {
  width: 300px;
  font-family: Georgia, serif;
  font-size: 11pt;
}

.variable {
  display: block;
  border: 1px solid #dddddd;
  background: #eeeeee;
  margin-bottom: 4px;
  padding: 1px 1px 1px 4px;
  position: relative;
}

.container {
  margin-bottom: 5px;
}

.overlay {
  text-align: center;
  color: gray;
}

.name {
  font-style: italic;
}

.value {
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 4px; 
}

.pending {
  color: silver;
}
